<%- include('./includes/header') %>
<%- include('./includes/navbar') %>
<div class="row">
    <div class="col-lg-3">
        
    </div>
    <div class="col-lg-8 display-block">
        <h1 class="display text-center mt-6">Entrar na conta</h1>
        <p class="text-center lead">Entre ou crie uma conta para acessar seus contatos</p>

        <!--Entrar-->
        <form class="width" action="/login/register" method="post">
          <input type="hidden" name="_csrf" value="<%= csrfTOken %>">
            <div class="mb-3">
              <label for="" class="form-label">Endereço de Email</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email"
              required>
              <div id="emailHelp" class="form-text">Esse email é único, por favor não compartilhe com ninguém</div>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Senha</label>
              <input type="password" class="form-control" id="exampleInputPassword1" name="password"
              required>
            </div>
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Manter conectado</label>
            </div>
            <button type="submit" class="btn btn-secondary">Entrar</button>
          </form>

          <!--Criação-->
          <form class="width-100%" action="/login/create" method="post">
            <input type="hidden" name="_csrf" value="<%= csrfTOken %>">
            <div class="mb-3">
              <label for="" class="form-label">Endereço de Email</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email"
              required>
              <div id="emailHelp" class="form-text">Esse email é único, por favor não compartilhe com ninguém</div>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Senha</label>
              <input type="password" class="form-control" id="exampleInputPassword1" name="password"
              required>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Confirmar Senha</label>
                <input type="password" class="form-control" id="exampleInputPassword1" name="password"
                required>
              </div>
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Criar Conta</label>
            </div>
            <button type="submit" class="btn btn-secondary">Entrar</button>
          </form>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<%- include('./includes/footer') %>